.contact
  background-color: $contact-color
  &__blocks
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-top: 120px
    text-align: left
    &-name
      margin-bottom: 25px
      +font-light
      font-size: 30px
  &__data
    width: 49%
    +font-regular
    font-size: 16px
  &__header
    margin-bottom: 15px
    +font-bold
    font-size: 20px
    opacity: 0.8
  .address
    margin-bottom: 75px
  &-mark
    opacity: 0.8
  &__form
    width: 49%
  .form
    display: flex
    flex-wrap: wrap
    &__field
      padding: 13px 18px
      background-color: darken(desaturate($contact-color, 6.81), 6.47)
      outline: none
      border: none
      border-radius: 5px
      &::placeholder
        color: $contact-color 
    input
      max-width: 48.1%
      &:first-child
        margin-right: 20px
    textarea
      margin: 20px 0 30px
      width: 100%
      height: 155px
    &__btn
      display: block
      margin: 0 auto
      padding: 10px 90px
      +font-black
      font-size: 26px
      text-transform: uppercase
      color: $text-color
      background-color: lighten(saturate($services-color, 25.91), 12.35)
      box-shadow: 0 5px lighten(saturate($services-color, 25.91), 2.35)
      border: none
      outline: none
      border-radius: 5px
      &:hover
        cursor: pointer
        box-shadow: 0 5px lighten(saturate($services-color, 25.91), 2.35), 0 0 10px lighten(saturate($services-color, 25.91), 12.35)
