$text-color: #fff

$home-bg-color: #2c3e50
$home-active-color: #74c7d5
$home-text-color: #74c7d5
$services-bg-color: #b24a50
$services-active-color: #df5c64
$services-block-color: #c45158
$services-text-color: #ec9da2
$about-bg-color: #665464
$about-active-color: #91778e
$about-text-color: #a1859e // можливо просто білий з прозорістю
$about-people-color: #5b4b59
$about-people-text-color: #a1ca6c
$about-people-active-color: #df5c64
$about-people-text-active-color: #d9796a
$fb-icon-color: #4f689e
$twit-icon-color: #74c7d5
$google-icon-color: #df5c64
$lin-icon-color: #3e61af
$btn-color: #a1ca6c
$work-bg-color: #81a256
$work-active-color: #a1ca6c
$work-text-active-color: #f5c149
$contact-bg-color: #75b4aa
$contact-active-color: #82c8bd
$contact-btn-color: #df5c64
$contact-form-color: #68a097
$footer-bg-color: #68a097
$footer-bg-icon-color: #82c7bc



$lighten-color: lighten($light-color, 26%)
$button-color: #ff5151
$bright-color: #ff5151

$font-logo: 'Damion'
$font-regular: 'Maven Pro Regular'
$font-medium: 'Maven Pro Medium'
$font-bold: 'Maven Pro Bold'
$font-black: 'Maven Pro Black'