.work
  background-color: $work-color
  &__menu
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    padding: 32px 0
    +font-bold
    // +font-regular
    // font-weight: bold
    border-top: solid 1px rgba($text-color, 0.8)
    border-bottom: solid 1px rgba($text-color, 0.8)
    &-name
      font-size: 20px
      text-transform: uppercase
    &-list
      display: flex
      list-style: none
      font-size: 16px
      li
        margin: 0 10px
        padding: 6px 12px 10px
        border-radius: 5px
        &:hover
          cursor: pointer
          background-color: #f5c149
  &__groups
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
  &__item
    margin: 40px auto 0
    display: flex
    flex-direction: column
    flex-basis: 260px
    height: 250px
    border-radius: 5px
    overflow: hidden
    &-img
      position: relative
      display: flex
      justify-content: center
      align-items: center
      height: 200px
      background-color: #f5c149
      transition: .5s ease-in-out;
      &::after
        position: absolute
        content: '+'
        width: 50px
        height: 50px
        display: none
        justify-content: center
        align-items: center
        +font-light
        font-size: 50px
        line-height: 50px
        border: 2px solid $text-color
        border-radius: 50%
    &-text
      align-self: flex-end
      position: relative
      display: flex
      align-items: center
      justify-content: center
      width: 100%
      height: 50px
      color: #727272
      background-color: #eeeeee
      &::after
        content: ''
        position: absolute
        bottom: 49px
        right: 50%
        transform: translateX(50%)
        border: 20px solid transparent
        border-bottom: 20px solid #eeeeee
    &:hover
      cursor: pointer
      .work__item-img
        filter: brightness(70%)
        &::after
          display: flex